body {
  margin: 0;
  padding: 0;
}

.login_form {
  font-size: 14px;
  font-weight: 500;
  border: 2px solid rgb(228, 228, 234);
  border-radius: 5px;
  max-width: 30%;
  margin: 0 auto;
  margin-top: 10%;
  padding: 30px;
  h3 {
    text-align: center;
    padding-bottom: 16px;
    font-size: 18px;
    color: rgb(185, 186, 189);
  }
}