.rm-heroes {
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // &_nav {
  //   margin-top: 10px;
  //   padding: 10px;
  //   a { 
  //     margin: 10px;
  //     padding: 10px 15px;
  //     text-decoration: none;
  //     background-color: #cfdba3;
  //     border-radius: 12px;
  //     &:hover { background-color: #a5ad86; }
  //     &:focus { color: inherit; }
  //   }
  //   &__active { background-color: #a5ad86!important; }
  // }
  &_list__wrap { padding: 25px 0; }
  &_item {
    position: relative;
    &__text {
      background: rgba(0,0,0,.65);
      color: #fff;
      position: absolute;
      bottom: 0;
      left: 6px;
      width: 96%;
      min-height: 50px;
      span { padding-left: 10px; }
    }
  }
  &_one {
    margin-top: 15px;
    width: 300px;
  }
}